# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#Ignore files
/Master_Thesis_Fingerprint_Morphing.iml
/misc.xml
/modules.xml
/vcs.xml
/vcs.xml

#Ignore folders
/inspectionProfiles/
